*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: quicksand-regular;
    src: url("../assets/fonts/Quicksand-Regular.ttf");
  }
  @font-face {
    font-family: quicksand-light;
    src: url("../assets/fonts/Quicksand-Light.ttf");
  }
  @font-face {
    font-family: quicksand-bold;
    src: url("../assets/fonts/Quicksand-Bold.ttf");
  }
.main{
    display: flex;
    flex-direction: row;
    font-family: quicksand-bold;

    padding: 20px;

}
.childleft{
    width: 30vw;
}
.childright{
    width: 30vw;

   
}
.nav-bar{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: quicksand-regular;
    
    /* flex-basis: 80%; */
    
}
.nav-link a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    color:black;
    font-family: quicksand-regular;

}
.nav-link{
    padding:20px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    flex-basis: 100%;
    /* flex-basis: 80%; */



}
.colors{
    background-color: #3bb77e;
    background-color: #f3f3f3;
    color: #333;
    background-color: #def9ec;

}
.user{
    display: flex;
    flex-direction: row;
}
.personal-info{
    flex: 1;
    height: 100px;
    margin: 10px;
}

.item{
    display:flex ;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
    margin:20px;
}

.item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.item-description{
    margin-left: 5%;
}


@media only screen and (max-width: 600px) {
    #burger-menu-icon{
        display: block;
        padding:20px
    }

    #link{
        display: none;
        
    }
 .product{
    width:90%

 }
 .product-description{
    font-size: 1.3rem;
 }
}
/* products */
.products {
    width: 100vw;
    padding: 20px 100px;
  }
  .countdown {
    font-family: quicksand-bold;
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(223, 55, 55);
  }
  .all-products {
    width: 90%;
    height: 90%;
    padding: 20px 0;
    margin: auto;
    flex-wrap: wrap;
  }
  .product-card {
    border: 2px #f3f3f3 solid;
    border-radius: 5px;
    height: 300px;
    min-width: 250px;
    padding: 10px;
    margin: 10px 10px;
  }
  
  .product-img {
    height: 40%;
  }
  .product-text {
    height: 60%;
    width: 80%;
  }
  
  .product-info {
    height: 50%;
  }
  .buttons {
    height: 50%;
  }
  
  .product-category {
    color: #a4a4a4;
    font-size: 15px;
    font-family: quicksand-regular;
  }
  .product-name {
    color: #333;
    font-size: 20px;
    font-family: quicksand-bold;
  }
  .price {
    color: #3bb77e;
    font-size: 18px;
    font-family: quicksand-bold;
  }
  
  .buttons > button {
    height: 40px;
    flex-grow: 1;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #cfffe6;
  }
/* category */
.all-categories {
    width: 80%;
    height: 90%;
    padding: 30px 0;
    margin: auto;
    overflow-x: scroll;
  }
  
  .category-card {
    border-radius: 5px;
    height: 100%;
    min-width: 200px;
    padding: 10px;
    background-color: #def9ec;
    margin: 0 10px;
  }
  .category-img {
    height: 70%;
  }
  .category-text {
    height: 30%;
    padding-top: 10px;
    text-align: center;
    color: #333;
  }
  .category-title {
    font-family: quicksand-bold;
    font-size: 20px;
  }
  .category-sub {
    font-family: quicksand-light;
    font-size: 14px;
  }
  /* forms style */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */