body{
    font-family: Cursive;    
}
.nav-bar{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    
}
.nav-link a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    color:black
}
.nav-link{
    padding:20px;

}
#burger-menu-icon{
    display:none;
    width:40px
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 1rem;


}
.item{
    display:flex ;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
    margin:20px;
}

.item img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.item-description{
    margin-left: 5%;
}


@media only screen and (max-width: 600px) {
    #burger-menu-icon{
        display: block;
        padding:20px
    }

    #link{
        display: none;
        
    }
 .item{
    width:90%

 }
 .item-description{
    font-size: 1.3rem;
 }
}