.colorwhite {
  color: #f3f3f3;
}
.colorwhiteshade {
  background-color: #d2efe1;
}
.colorgreen {
  background-color: #3bb77e;
}
.colorblack {
  color: #333333;
}

@font-face {
  font-family: quicksand-regular;
  src: url("/assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: quicksand-light;
  src: url("/assets/fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: quicksand-bold;
  src: url("/assets/fonts/Quicksand-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: quicksand-regular;
  color: #333333;
}

.block {
  display: block;
}
.hide {
  display: none;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-se {
  justify-content: space-evenly;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
/*-----------------SignIn----------------------------*/

.login_wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #3bb77e, #d2efe1);
  flex-wrap: wrap;
}

.pass_wrapper {
  height: 100vh;
  width: 100vw;
}

img {
  height: 100%;
  width: 100%;
}
.login_text {
  height: 100%;
  width: 55%;
}
.input_fields {
  height: 40%;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="text"] {
  border: 2px solid #333333;
  background-color: #d2efe1;
  padding: 6px;
  border-radius: 16px;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="password"] {
  margin-top: 10px;
  background-color: #d2efe1;
  border: 2px solid #333333;
  padding: 6px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::placeholder {
  font-size: large;
  margin: auto;
  background-color: #d2efe1;
  color: #333333;
}

.login_img {
  height: 100%;
  width: 45%;
}

.input_fields p {
  font-size: large;
}

.email {
  width: 40%;
}
.password {
  width: 40%;
  height: 50%;
  margin-top: 10px;
}
i {
  height: 50%;
}
.buttons {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 10px;
}
.forgot_pass {
  width: 50%;
}
.forgot_pass p {
  font-size: larger;
}

.forgot_pass input[type="Submit"] {
  height: 100%;
  width: 20%;
  background-color: #333333;
  border-radius: 8px;
  color: #d2efe1;
  font-family: quicksand-bold;
  margin-top: 10px;
}

.btn {
  height: 65%;
  width: 19%;
  border: 2px solid #333333;
  border-radius: 6px;
  margin-right: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
  margin-bottom: 3px;
}
.rememberme p {
  font-size: larger;
}

.logos {
  height: 30%;
  width: 100%;

  margin: auto;
  margin-top: 10px;
}

.logos img {
  margin: auto;
  margin-top: 20px;
  height: 40%;
}

h1 {
  margin: auto;
  margin-top: 20px;
}

/*-----------------SignUp----------------------------*/

.sign_wrapper {
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}

.sign_text {
  width: 50%;
  height: 100%;
  margin: auto;
  background-image: linear-gradient(#333333, #3bb77e);
}
.sign_img {
  width: 50%;
  border: solid #333333;
  height: 100%;
}

.name {
  margin: 10px;
  width: 70%;
  margin-top: 60px;
}

.phonum_user {
  margin: 10px;
}

.phonum {
  width: 70%;
  margin: 10px;
}
.user {
  width: 70%;
  margin: 10px;
}

.Email {
  width: 70%;
  margin: 10px;
}

.address {
  width: 70%;
  margin: 10px;
}

.location {
  width: 70%;
  margin: 10px;
}

.signup_btn {
  height: 6%;
  width: 15%;
  border: 2px solid black;
  border-radius: 16px;
  background-color: #3bb77e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px;

  color: #d2efe1;
  font-weight: bolder;
  font-family: quicksand-regular;
  font-size: larger;
}

h3 {
  color: #f3f3f3;
}
/*-----------------Password----------------------------*/
