* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: quicksand-regular;
  src: url("/assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: quicksand-light;
  src: url("/assets/fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: quicksand-bold;
  src: url("/assets/fonts/Quicksand-Bold.ttf");
}

.block {
  display: block;
}
.hide {
  display: none;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-se {
  justify-content: space-evenly;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}

/* Mhmd Atout */
.wrapper {
  width: 100vw;
}

.navbar {
  width: 100vw;
  height: 10vh;
  border: 2px #f3f3f3 solid;
}

.navbar-search-input {
  width: 400px;
  height: 40px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 5px 0 0 5px;
}

.navbar-search-input-img {
  background-color: #3bb77e;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.navbar-icons {
  width: 30%;
}

.icon {
  padding: 10px;
}

.navbar-icon {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.icon-text {
  color: #333;
  font-size: 15px;
  font-family: quicksand-bold;
}

.mainbar {
  width: 100vw;
  height: 5vh;
}

.mainicons {
  width: 40%;
}
.mainicon {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: quicksand-regular;
}
.mainicon > * {
  font-family: quicksand-regular;
  padding: 0 5px;
}
.mainicon-text-home {
  color: #3bb77e;
}

.support {
  width: 17%;
  font-family: quicksand-regular;
}

.mh-phonenumber {
  color: #3bb77e;
}

.ads {
  height: 60vh;
  width: 100vw;
  background-image: url("/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c5ead9;
  background-blend-mode: multiply;
}

.content {
  width: 65%;
  height: 70%;
}
.main-text {
  font-family: quicksand-bold;
  color: #333;
  font-size: 55px;
}
.sub-text {
  font-family: quicksand-regular;
  color: #333;
  font-size: 30px;
}

.ad-img {
  width: 35%;
  height: 100%;
  background-image: url("/assets/images/ad-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-self: flex-end;
}

.categories {
  width: 100vw;
  height: 40vh;
  padding: 50px;
}
